//scss files

@import "vars";
@import "global";
@import "fonts";

//start header

.header__top {
  margin: 15px 0;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  max-height: 90px;
  align-items: center;
}

.header__text {
  margin-left: auto;
  margin-right: 50px;

  span {
    color: $color-red;
  }
}

.header__btn {
  padding: 6px;
  width: 72px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

.header__btn-login {
  background-color: $color-green;
  margin-right: 7px;
}

.header__btn-register {
  background-color: $color-red;
}

.header__menu {
  background-color: $color-bg;
}

.header__phone {
  color: $color-text;
}

.menu {
  display: flex;
  align-items: center;
  min-height: 60px;
}

.menu__list {
  li {
    display: inline-block;

    &+li {
      margin-right: 30px;
    }
  }

  a {
    color: #fff;
    font-size: 14px;
  }
}

//end header

//start search

.search {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 535px;
}

.search__inner {
  text-align: center;
  color: #fff;
  padding: 155px 0 100px;

  &-title {
    font-size: 48px;
    @include f700;
    margin-bottom: 10px;
    line-height: 72px;
  }

  &-text {
    font-size: 20px;
    @include f500;
    margin-bottom: 50px;
    line-height: 38px;
  }

  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;

    input {
      padding-left: 25px;
      padding-right: 60px;
      display: block;
      width: 100%;
      border-radius: 4px;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      height: 56px;
      border: none;
      font-size: 14px;
      @include f500;
      outline: none;

      &::placeholder {
        color: #90a4ae;
        font-size: 14px;
        @include f500;
      }
    }

    button {
      position: absolute;
      border: none;
      background-color: transparent;
      right: 20px;
      top: 16px;
    }
  }
}

//end search

//start products

.products {
  padding: 110px 0;
  background-color: $color-grey;
}

.products__inner-btn {
  text-align: center;
  margin-bottom: 60px;

  button {
    padding: 13px 20px;
    border: none;
    background-color: #fff;
    color: $color-bg;
    cursor: pointer;

    &+button {
      margin-left: 6px;
    }

    &.mixitup-control-active {
      background-color: $color-red;
      color: #fff;
      outline: none;
    }
  }
}

.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__item {
  margin-bottom: 30px;
  max-width: 440px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);

  &-img {
    min-height: 250px;
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }

  &-content {
    @include f500;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    min-height: 90px;
    border-bottom: 1px solid #e7ecf2;
  }

  &-name {
    max-width: 310px;
  }

  &-title {
    display: block;
    font-size: 18px;
    color: $color-bg;
  }

  &-category {
    font-size: 14px;
    color: $color-green;
    display: block;
  }

  &-price {
    font-size: 20px;
    color: $color-bg;
    @include f700;
  }

  &-info {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
  }

  &-author {
    display: flex;
    align-items: center;
    max-width: 250px;

    .avatar {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
      margin-right: 14px;
    }

    span {
      font-size: 14px;
      @include f500;
    }
  }

  &-star {
    font-size: 12px;

    span {
      color: $color-bg;
    }
  }
}

.products__botton-btn {

  text-align: center;

  button {
    margin: 45px 5px 0;
    border: none;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    color: $color-bg;
    font-size: 16px;
    @include f400;
    padding: 20px 30px;
    cursor: pointer;

    &.mixitup-control-active {
      background-color: $color-red;
      color: #fff;
      outline: none;
    }
  }
}

//end products


//start product-slider

.product-slider {
  padding: 110px 0 120px;

  .product__item-slider {
    margin-right: 30px;
  }

  .slick-dots {
    text-align: center;

    margin-bottom: 50px;

    li {
      display: inline-block;
      margin: 0 7px;

      &.slick-active {
        button {
          background-color: $color-green;
        }
      }

      button {
        border-radius: 50%;
        background-color: rgb(232, 232, 232);
        border: none;
        font-size: 0;
        width: 16px;
        height: 16px;
        outline: none;
        cursor: pointer;
      }
    }
  }
}

//end product-slider

//fix grey star
.jq-ry-normal-group {
  display: none;
}

//fix grey star

//Start advantages

.advantages {
  background-color: $color-bg;
  padding: 110px 0;
}

.advantages__title {
  color: #fff;
}

.advantages__inner {
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  max-width: 370px;
  text-align: center;
  padding: 0 15px;

  &:hover {
    .advantages__item-images {
      background-color: $color-green;
    }

    .advantages__item-title {
      color: $color-green;
    }

    .advantages__item-images {
      g {
        fill: #fff;
      }
    }
  }

  &-images {
    width: 114px;
    height: 114px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 30px;
    transition: all .5s;
  }

  &-title {
    font-size: 24px;
    @include f400;
    color: #fff;
    margin-bottom: 22px;
    transition: all .5s;
  }

  &-text {
    font-size: 15px;
    @include f500;
    color: #b0bec5;
  }
}

.iconsvg-1 {
  svg {
    width: 70px;
  }
}

.iconsvg-2 {
  svg {
    width: 70px;
  }
}

.iconsvg-3 {
  svg {
    width: 80px;
  }
}

//End advantages


//Start author
.author {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 755px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__box {
    width: 650px;
    max-width: 650px;
    min-height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-green;
  }

  &__title {
    font-size: 30px;
    line-height: 40px;
    color: #fff;
    margin-right: 45px;
    max-width: 260px;

    span {
      @include f700;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 36px;
    background: #fff;
    padding: 20px 40px;
  }
}

//End author

//Start tutorial

.tutorial {
  padding: 60px 0 120px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    width: 100%;

    &-images {
      min-height: 270px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &-title {
      background-color: #f8f8f8;
      font-size: 24px;
      text-align: center;
      @include f700;
      line-height: 60px;
      color: $color-bg;
      padding: 30px 10px;
    }
  }
}

//End tutorial

//Start footer

.footer {
  background-color: $color-bg;

  &__inner {
    padding: 100px 0 80px;
    display: flex;
    justify-content: space-between;
  }

  &__copy {
    border-top: 1px solid #424d53;
  }

  &__copy-text {
    text-align: center;
    @include f400;
    font-size: 15px;
    color: #919699;
    padding: 25px 0px;
  }

  &__col {
    max-width: 270px;
    width: 100%;

    &-menu {
      max-width: 220px;
    }

    &-title {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      padding-bottom: 22px;
      margin-bottom: 30px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 2px;
        width: 51px;
        height: 3px;
        background-color: $color-green;

      }
    }

    &-text {
      color: #b7c3c8;
      margin-top: 30px;
    }
  }

  &__info {
    margin-top: 20px;
    color: #fff;
    padding-left: 30px;
    @include f500;
    position: relative;

    &::before {
      position: absolute;
      left: 0;
      content: "\f041";
      font-family: 'icomoon';
      color: $color-green;
      font-size: 18px;

      &-phone {
        &::before {
          content: "\f095";
        }
      }

    }
  }

  &__col-list {
    a {
      margin-bottom: 15px;
      color: #b7c3c8;
      padding-left: 22px;
      position: relative;

      &::before {
        content: '\f105';
        position: absolute;
        color: $color-green;
        left: 0;
        font-size: 18px;
        font-family: 'icomoon';
      }
    }
  }

  &__soial-link {
    margin-bottom: 30px;

    li {
      display: inline-block;

      &+li {
        margin-left: 7px;
      }
    }

    a {
      width: 28px;
      height: 28px;
      background-image: url(../images/footer/css_sprites.png);

      &+a {
        margin-left: 7px;
      }
    }
  }
}

.link-1 {
  background-position: -28px 0;
}

.link-2 {
  background-position: 0 -28px;
}

.link-4 {
  background-position: -28px -28px;
}

.link-5 {
  background-position: -56px 0;
}

.footer__form-title {
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
}

.footer__form {
  position: relative;

  input {
    border: none;
    background-color: #2f3c43;
    display: block;
    width: 100%;
    padding: 12px 10px;
    font-size: 14px;
    color: #fff;
    height: 40px;

    &::placeholder {
      color: #697378;
    }
  }

  button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $color-green;
    height: 40px;
    width: 43px;
    border: none;
    cursor: pointer;
    &::before{
      content: '\f124';
      position: absolute;
      color: #fff;
      font-family: 'icomoon';
      font-size: 20px;
      top: 11px;
      left: 13;
    }
  }
}

//End footer